Repository approvers/haracho.approvers.dev, pull requests merged in 2023-01, with the labels that each got.

#4 docs: 貢献に関するガイドを更新
  .eslintignore
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
Labels: ✨improvement, 🔮workflow (gh-actions)

#7 docs: 画像の置き換え
  docusaurus.config.js
  src/pages/index.tsx
  static/assets/haracho-transmission.png
  static/assets/haracho.png
  static/img/docusaurus.png
  static/img/favicon.ico
  static/img/logo.svg
  static/img/undraw_docusaurus_mountain.svg
  static/img/undraw_docusaurus_react.svg
  static/img/undraw_docusaurus_tree.svg
Labels: ✏️Media

#6 docs: 最新版のドキュメントを追加
  docs/commands_docs/HOJS.mdx
  docs/commands_docs/debug.mdx
  docs/commands_docs/dice.mdx
  docs/commands_docs/guildinfo.mdx
  docs/commands_docs/help.mdx
  docs/commands_docs/index.mdx
  docs/commands_docs/kokusei.mdx
  docs/commands_docs/meme/dousurya.mdx
  docs/commands_docs/meme/hukueki.mdx
  docs/commands_docs/meme/index.mdx
  docs/commands_docs/meme/kenjou.mdx
  docs/commands_docs/meme/koume.mdx
  docs/commands_docs/meme/lolicon.mdx
  docs/commands_docs/meme/moeta.mdx
  docs/commands_docs/meme/n.mdx
  docs/commands_docs/meme/nigetane.mdx
  docs/commands_docs/meme/nine.mdx
  docs/commands_docs/meme/ojaru.mdx
  docs/commands_docs/meme/takopi.mdx
  docs/commands_docs/meme/web3.mdx
  docs/commands_docs/ping.mdx
  docs/commands_docs/roleinfo.mdx
  docs/commands_docs/rolerank.mdx
  docs/commands_docs/stfu.mdx
  docs/commands_docs/typo.mdx
  docs/commands_docs/userinfo.mdx
  docs/commands_docs/version.mdx
  docs/commands_docs/voice-channel/colk.mdx
  docs/commands_docs/voice-channel/kaere.mdx
  docs/commands_docs/voice-channel/party.mdx
  docs/dev_docs/running/docker-useCompose.mdx
  docs/faq/index.mdx
  docs/features_docs/bold-italic.mdx
  docs/features_docs/delete-diff.mdx
  docs/features_docs/edit-diff.mdx
  docs/features_docs/emoji-create-log.mdx
  docs/features_docs/index.mdx
  docs/features_docs/kawaemon.mdx
  docs/features_docs/typo.mdx
  docs/features_docs/vc-diff.mdx
  docs/intro.mdx
  docusaurus.config.js
  sidebars.js
  src/component/FeatureBadge.tsx
  src/component/VersionBadge.tsx
  src/component/WarningBadge.tsx
  src/pages/markdown-page.md
  static/images/bold-old.jpg
  static/images/bold-oldharacho.jpg
  static/images/bold.jpg
  static/images/sponsor.jpg
Labels: ✏️Content

#13 docs: v1.33.0 の内容を追加
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/content_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/commands_docs/voice-channel/party.mdx
Labels: 🐛bug, ✏️Content

#20 refactor: FC の使用を回避
  src/component/FeatureBadge.tsx
  src/component/VersionBadge.tsx
  src/component/WarningBadge.tsx
Labels: ✨improvement

#11 引数なしの場合の仕様の追記
  docs/commands_docs/dice.mdx
Labels: ✏️Content
